$primary: #ff4adb;
$borderPrimary: #d7d3d3;
$dark: #4c384c;
$light: #f9f8f5;
$success: #c5f857;
$disabled: #393939;
$warning: #ede451;
$danger: #f6d4dc;
$info: #7ae4fc;

$space_xs: 0.25rem;
$space_sm: 0.50rem;
$space_default: 0.75rem;
$space_lg: 1.00rem;

$radius_default: 0.5rem;

$font_default: 1rem;
$font_lg: 2rem;

$box-shadow-hover: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
$box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;

